<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <!--<appSettings>
    <add key="EntityDBM" value="data source=ocpc-dev-sq01;initial catalog=ILD.NET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add key="Provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="EntityDBM" connectionString="data source=ocpc-dev-sq01;initial catalog=ILD.NET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
</configuration>
